![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Import any additional modules and start coding below

In [2]:
df=pd.read_csv('rental_info.csv')
df.head()

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]

In [3]:

df['return_date'] = pd.to_datetime(df['return_date'])
df['rental_date'] = pd.to_datetime(df['rental_date'])


df['rental_length_days'] = (df['return_date'] - df['rental_date']).dt.days

df.head()

                rental_date  ... rental_length_days
0 2005-05-25 02:54:33+00:00  ...                  3
1 2005-06-15 23:19:16+00:00  ...                  2
2 2005-07-10 04:27:45+00:00  ...                  7
3 2005-07-31 12:06:41+00:00  ...                  2
4 2005-08-19 12:30:04+00:00  ...                  4

[5 rows x 16 columns]

In [4]:

df.drop(columns=['rental_date'],inplace=True,axis = df)
df.drop(columns=['return_date'],inplace=True,axis = df)
df.head()

   amount  release_year  ...  rental_rate_2  rental_length_days
0    2.99        2005.0  ...         8.9401                   3
1    2.99        2005.0  ...         8.9401                   2
2    2.99        2005.0  ...         8.9401                   7
3    2.99        2005.0  ...         8.9401                   2
4    2.99        2005.0  ...         8.9401                   4

[5 rows x 14 columns]

Creating special_features dummies

In [5]:
df["deleted_scenes"] =  np.where(df["special_features"].str.contains("Deleted Scenes"), 1, 0)

df["behind_the_scenes"] =  np.where(df["special_features"].str.contains("Behind the Scenes"),1,0)
df.head()

   amount  release_year  ...  deleted_scenes  behind_the_scenes
0    2.99        2005.0  ...               0                  1
1    2.99        2005.0  ...               0                  1
2    2.99        2005.0  ...               0                  1
3    2.99        2005.0  ...               0                  1
4    2.99        2005.0  ...               0                  1

[5 rows x 16 columns]

In [6]:
columns_to_drop =['special_features','rental_length_days']
X=df.drop(columns=columns_to_drop,axis=1)
y=df['rental_length_days']

In [7]:
X.shape

(15861, 14)

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=9)

In [9]:
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

In [10]:

rf = RandomForestRegressor()
rf.fit(X_train, y_train)

# Predict using the model
y_pred = rf.predict(X_test)

In [11]:
best_model=rf
best_mse=MSE(y_test,y_pred)